.demo .clock { width: 192px; margin: 100px auto; overflow: hidden;}
.demo .clock li { position: relative;  float: left; height: 35px; width: 24px; list-style: none; /*overflow: hidden; */line-height: 35px; font-size: 35px; }
.demo .clock div { position: absolute; top: 0; left: 0;}
